@{
    ViewBag.Title = "Documentation";
    Layout = "_Layout";
}

<h1>Documentation</h1>

<h3>Would you like to view general documentation or API documentation?</h3>

<a class="btn btn-primary" asp-controller="Home" asp-action="GeneralDocumentation">General documentation</a>
<a class="btn btn-primary" href="https://localhost:7127/swagger/index.html">API documentation</a>
