@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AirportApplication</h1>
    <p>Use the navigation panel above to move around the website.</p>
</div>