@{
    ViewData["Title"] = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 xmlns="http://www.w3.org/1999/html">Booking was unsuccessful, would you like to book another flight?</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Flat_cross_icon.svg" alt="" width="128px" height="128px"> <br/><br/>
<a asp-action="Index" class="btn btn-primary">Book another flight</a>
